extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
  nav
    .navlink
      a(href="/login") Login
    .navlink
      a(href="/signup") Sign up
  section#signup
    form#signupForm(class="signupForm", name="signupForm", action="/signup", method="POST")
      label(for="username") Username: 
      input#user(type="text", name="username", placeholder="username")
      label(for="pass") Password: 
      input#pass(type="password", name="pass", placeholder="password")
      label(for="pass2") Password: 
      input#pass2(type="password", name="pass2", placeholder="retype password")
      label(for="wWin") Wolf Wins: 
      input#wWin(type="text", name="wWin", value="0")
      label(for="wLoss") Wolf Losses: 
      input#wLoss(type="text", name="wLoss", value="0")
      label(for="vWin") Villager Wins: 
      input#vWin(type="text", name="vWin", value="0")
      label(for="vLoss") Villager Losses: 
      input#vLoss(type="text", name="vLoss", value="0")
      input(type="hidden", name="_csrf", value="#{csrfToken}")
      a#signupSubmit(class="formSubmit", href="#") Sign up
   #errorMessage
block scripts
        script(src="/assets/client.js")